@import url(https://fonts.googleapis.com/css?family=Lobster|Amatic+SC|Roboto:400,300);

/* Styling for images of candles on review page */
.catImage {
  width: 100%;
  border: 3px solid rgba(0, 86, 255, 0.2);;
}

/* Styling for candle names on review page */
.catName{
  text-decoration: underline;
  background:rgba(0, 86, 255, 0.2);
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;

}

/* Changes colour on the nav bar */
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
  background-color: rgba(0, 86, 255, 0.2);
}

small{
  font-weight: bold;
  font-style: italic;
}

/* Styles cozy candle title */
h1{
  font-size: 40px;
  text-align: center;
  text-decoration: underline;
  font-family: "lobster";
  margin-bottom: 30px;
}

/* Styles "our products" title */
h2{
  font-size:20px;
  text-align: center;
  font-family: "roboto";
  text-decoration:underline;
  text-transform: uppercase;
  margin-bottom: 10px;
}

/* Puts a background colour on page */
body{
  background-color: #fff4f8;
}

/* Styles the description on the home page */
p{
  margin: 50px;
  margin-top: 0px;
  font-family: "roboto";
  text-align: center;
  font-size: 18px;
}

/* Styles the order recieved message */
.text-success {
  text-align: center;
  font-size: 20px;
  margin-top: 5px;
}

.carousel{
    background: rgba(0, 86, 255, 0.2);
}

.carousel .item img{
    margin: 0 auto; /* Align slide image horizontally center */
}

.bs-example{
	 margin: 20px;
}

.panel-body{
  background-color: rgba(0, 86, 255, 0.2);
}

.control-label{
  margin-top: 10px;
}

/* Styles submit button found on order page */
#submitButton {
  margin-top: 20px;
  text-align: center;
  background: rgba(0, 86, 255, 0.5);
}
